<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- *ngIf="(accountService.currentUser| async)" -->
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" routerLink='member' routerLinkActive="active"
                        aria-current="page">Member</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink='list' routerLinkActive="active" aria-current="list">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink='message' routerLinkActive="active"
                        aria-current="page">Message</a>
                </li>
            </ul>
            <ul *ngIf="accountService.currentUser| async" class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <!-- <a class="nav-link active"  aria-current="page">Home </a> -->
                    <div (click)="logout()">Logout</div>
                </li>
            </ul>
            <form *ngIf="!(accountService.currentUser| async)" #loginform="ngForm" (ngSubmit)="onSubmit()"
                class="d-flex my-2 my-lg-0">
                <input class="form-control me-sm-2" type="text" name="name" [(ngModel)]="Model.name"
                    placeholder="User name" />
                <input class="form-control me-sm-2" type="password" name="password" [(ngModel)]="Model.password"
                    placeholder="password" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    Login
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- <app-home></app-home> -->